.Profile__avatar-img-wrapper {
  max-width: 120px;
  max-height: 120px;
  margin: 0 auto;
  text-align: center;
  border: 1px solid #dbdbdb;
  border-radius: 50%;
}

.Profile__avatar-img {
  display: inline-block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
