.alert {
  max-width: 350px;
  width: 100%;
  margin: 0 auto;
}

.headerSpace {
  height: 60px;
}

.signform {
  margin-top: 30px;
}

.navBar {
  max-width: 580px;
  width: 100%;
  margin: 0 auto;
}

.mainFrame {
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
}
