<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <!-- bootstrap src -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="custom.css">
    
    <title>STYEL Admin</title>


    <!-- Bootstrap core CSS -->
    <link href="../../dist/css/dashboard.css" rel="stylesheet">

    <!-- Custom styles for this template -->
  
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>
    

  </head>

  <body>
    
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
        
          <div class="toplogo">
            <a href="/">
                <img alt="STYEL" src="https://styel.s3.ap-northeast-2.amazonaws.com/styel_42x42.png" style="position:fixed; top:3px; left: 5px;">
            </a>
          </div>
          <a class="nav-link" href="/admin/logout">Sign Out</a>
          <p class="nav-top-p"> Admin Page</p>
          <p class="nav-top-description"> This page is for administrators. Review the status, Manage accounts, Make Contact for technical support. </p>
        </div>        
      </div>      
    </nav>
    

    <div class="container-fluid">
        <div class="sidenav navbar-inverse">
          <br><br>
            <a href="#Dashboard">&nbsp;Dashboard</a>
            <a href="#Members">&nbsp;Members</a>
            <a href="#Help">&nbsp;Help</a>
          </div>
     
    


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
