<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="../../favicon.ico">

  <!-- bootstrap src -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
  <link rel="stylesheet" type="text/css" href="custom.css">

  <title>STYEL Admin</title>


  <!-- Bootstrap core CSS -->
  <link href="../../dist/css/dashboard.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <!-- <link href="/css/dashboard.css" rel="stylesheet"> -->
  <script src="../../assets/js/ie-emulation-modes-warning.js"></script>

  <style>


  </style>

</head>

<body>

  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
          aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <div class="toplogo">
          <a href="/">
            <img alt="STYEL" src="https://styel.s3.ap-northeast-2.amazonaws.com/styel_42x42.png"
              style="position:fixed; top:3px; left: 20px;">
          </a>
        </div>
      </div>
    </div>
  </nav>

  <div class="container-fluid">
    <div class="sidenav">
      <a href="#Dashboard">Dashboard</a>
      <a href="#Members">Members</a>
      <a href="#Help">Help</a>
    </div>


    <div class="row placeholders col-sm-offset-3 main">
      <div class="col-xs-6 col-sm-3 placeholder">
        <div class="dash_wrap">
          <div class="dash_image">
            <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200"
              height="200">
          </div>
          <div class="dash_text">
            <p><%= all_member %></p>
          </div>
        </div>
        <h4>USER</h4>
      </div>
      <div class="col-xs-6 col-sm-3 placeholder">
        <div class="dash_wrap">
          <div class="dash_image">
            <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200"
              height="200">
          </div>
          <div class="dash_text">
            <p><%= all_post %></p>
          </div>
        </div>
        <h4>POST</h4>
      </div>
      <div class="col-xs-6 col-sm-3 placeholder">
        <div class="dash_wrap">
          <div class="dash_image">
            <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200"
              height="200">
          </div>
          <div class="dash_text">
            <p><%= black_member %></p>
          </div>
        </div>
        <h4>BLACK LIST</h4>
      </div>
    </div>


    <div class="container col-sm-offset-2">
      <div class="col-xs-5 col-sm-12 jumbotron">
        <h1> Notice </h1>
        <div>
          <p> PC 및 제어 </p>
          <p> 비밀번호 관리 규약을 제대로 지켰나요</p>
        </div>
        <div>
          <p> Server </p>
          <p> 1. 계정 관리 </p>
          <P> 2. 파일 및 디렉터리 관리 </P>
          <P> 3. 서비스 관리 </P>
          <P> 4. 패치 관리 </P>
          <P> 5. 로그 관리 </P>
        </div>
        <div>
          <p> Web </p>
          <p> 1. 버퍼 오버플로우 </p>
          <p> 2. SQL 인젝션 </p>
          <p> 3. CSRF </p>
        </div>
        <div>
          <p> DBMS </p>
        </div>

      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
</body>

</html>