

html, body {
    background: #000000;
}

.sidenav {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 5%;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    font-family: 'Courier New', Courier, monospace;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }

  /* 대시보드 점보트론 스타일 */
  .jumbotron {
    background-color: #3f3e3e;
    color: white;
  }

  /* 대시보드 메인 동그라미 스타일 */
.placeholders h4 { 
  margin-bottom: 0;
  color: white;
}

.placeholder { 
  margin-top: 70px;
}

.placeholder img {
  display: inline-block;
  border-radius: 50%;
}

/* 대시보드 동그라미 안에 글씨 넣는 스타일 */
.dash_wrap {
  position: relative;
}

.dash_image {
  vertical-align: middle;
}

.dash_text {
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}