<html lang="en">

<head>
    <% include ./inc/header.ejs %>
</head>

<body>
    <% include ./inc/nav.ejs %>
    <div class="row">
        <div class="col-sm-3">
            <%=user %>님 안녕하세요.
            <div><a href="/admin/dashboard">Dashboard</a></div>
            <div><a href="/admin/member_manage">Member</a></div>
        </div>
        <div class="col-sm-9">
            <div>
                <h1>Dashboard</h1>
            </div>
            <div>
                전체 회원 <%= all_member %>
                전체 Post <%= all_post %>
            </div>
        </div>
    </div>
</body>

</html>