<html lang="en">

<head>
    <% include ./inc/header.ejs %>
</head>
<body>
    <% include ./inc/nav.ejs %>

    <div class="row">
        <div>

        </div>
        <div>
            
        </div>
    </div>
    
    <h1>회원 관리</h1>
    <table>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Role</th>
        </tr>
        <% for(let i=0; i < all_member.length; i++ ){ %>

        <tr>
            <td><%=all_member[i].name %></td>
            <td><%=all_member[i].email %></td>
            <td><%=all_member[i].role %></td>
        </tr>
        <% } %>
    </table>
    
    
</body>

</html>